body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightsteelblue;
  }

header{
    text-align: center;
}

header img {
    float:inline-start;
    width: 15%;
    height: 10%;
}
header nav ul li {
    display: inline;
  }
.intro {
    text-align: center;
}

.projects {
    text-align: center;
}

.communicate {
    text-align: center;
}

.project-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.project-preview > li {
    flex-basis: 400px;
}

.project-preview > li img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 5px;
}