body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightsteelblue;
  }

header{
    text-align: center;
}
header nav ul li {
    display: inline;
  }
.intro {
    text-align: center;
}

.projects {
    text-align: center;
}

.communicate {
    text-align: center;
}